---
layout: page
title: Tags
---
<div class="page page-categories">
    <div class="list-category">
      <h2>All Tags</h2>
      <div>
        {%- for tag in site.tags %}
        <a href="javascript:document.getElementById('{{ tag[0] }}').scrollIntoView()">{{ tag[0] }}</a>
        {%- endfor %}
      </div>
    </div>
    {%- for tag in site.tags %}
    <div class="list-post">
      <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
      <ul>
        {%- for post in tag[1] %}
        <li>
              <span>{{- post.date | date: site.theme_config.date_format -}}</span>
              <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    {%- endfor %}
  </div>